<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-md navbar-dark bg-green fixed-top">
	<div class="container">
		
			
			<span class="navbar-brand mb-0 h1" routerLink="/home">Fivey Ventures</span>
			<button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
			  <span class="navbar-toggler-icon"></span>
		  </button>
			<div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
			
				<a class="nav-item nav-link active text-white" routerLink="/home">
					Home<span class="sr-only">(current)</span>
				</a>
				<a class="nav-item nav-link active text-white" routerLink="/product">
					Products
				</a>
				<a class="nav-item nav-link active text-white" routerLink="/services">
					Services
				</a>
			</div>
			<div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
			</div>
			<div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
				<a class="nav-item nav-link active text-white" routerLink="/cart">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart <span *ngIf="cartLength">({{cartLength}})</span>
					
				</a>
			</div>
		
	</div>
</nav>
					

		<div class="container">
		  <div class="row content">
			
		<router-outlet></router-outlet>
			</div>
		</div>
		
		<div class="col-lg-12 footer padding-16 text-center">
                    <!-- Footer -->
			<div class="container">
				<div class="row">
                    <div class="col-lg-3">
                    	<div>.</div>
                    	<div><a routerLink="/disclaimer">Disclaimer</a></div>
                    	<div><a routerLink="/privacy">privacy</a></div>
                    	<div><a routerLink="/termsOfUse">Terms of Service</a></div>
                    </div>
                    <div class="col-lg-4">
						<footer >
					  <div>
					  	<a href="https://www.facebook.com/FiveYVentures" class="fa fa-facebook" target="_blank"></a>
						<a href="https://twitter.com/FiveyVentures" class="fa fa-twitter" target="_blank"></a>
						<a href="https://www.instagram.com/fiveyventures/" class="fa fa-instagram" target="_blank"></a>
					  </div>
					  </footer>
					</div>
					<div class="col-lg-5 text-left" >
						<span>Phone    : +91 7338441222</span><br>
						<span>Web site : www.fiveyventures.com</span><br>
						<span>Address  : #9/5-7/8 &amp; 7/9,Maruthi Complex, Andhivadi Village</span><br>
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HCF Post, Hosur,Krishnagiri Dt., TamilNadu -635110</span>
					</div>
				</div>
			</div>
					  <p>Copyrights 2017 &copy; FiveYVentures.com, All rights reserved</p>
					  
					
                </div>
